@import "reset.css";
@import "result.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    color: white;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.4rem;
}

a {
    color: rgba(255, 255, 255, 0.6);
}

body::before {
    content: "Background image from Unsplash";
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    z-index: 2;
    right: 10px;
    bottom: 10px;
    position: fixed;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://source.unsplash.com/1600x900/?programming");
}

* {
    box-sizing: border-box;
}

header {
    font-weight: 700;
    font-size: 2.6rem;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 900px;
    height: 200px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(0, 2, 34, 0.45);
}

.container h3 {
    font-weight: 600;
    font-size: 1.8rem;
}

form {
    display: flex;
    flex-direction: column;
}

input:focus {
    all: unset;
}

input,
button {
    all: unset;
    font-weight: 400;
    font-size: 1.3rem;
}

input {
    border-bottom: white 1px solid;
    padding: 2px;
    background-color: rgba(190, 190, 190, 0.3);
    transition: background-color 0.5s ease-in-out;
}

input::placeholder {
    color: white;
}

input:focus {
    border-bottom: white 1px solid;
    padding: 2px;
    background-color: rgba(190, 190, 190, 0.8);
    transition: background-color 0.5s ease-in-out;
    color: black;
    font-weight: 600;
}

input:focus::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

button {
    align-self: flex-end;
    width: 20%;
    background-color: rgb(11, 72, 151);
    color: white;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

button:active {
    transform: scale(0.98);
}
